@using Microsoft.JSInterop
@if (!ScriptImported)
{
    ScriptImported = true;
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=____onTurnstileLoaded" async defer></script>
}

<div id="____turnstile"></div>
<div id="____turnstileWaitingMessage">@WaitingMessage</div>
<script>
    var ____turnstileResponse;
    var ____dotNetInvokeObj;
    var ____turnstileRendered = false;

    function ____turnstileRender(sitekey) {
        ____turnstileLoaded = true;
        ____turnstileRendered = true;
        turnstile.render('#____turnstile', {
            sitekey: sitekey,
            callback: function (token) {
                document.getElementById("____turnstileWaitingMessage").style.display = "none";
                ____turnstileResultCallback(token);
            },
        });
    };

    function ____onTurnstileLoaded(){
        setTimeout(function(){
            ____dotNetInvokeObj.invokeMethodAsync("JsCall_OnTurnstileLoaded");
        }, 500);
    }

    function ____turnstileResultCallback(token) {
        ____turnstileResponse = token;
        ____dotNetInvokeObj.invokeMethodAsync("JsCall_OnTrunstileResponseToken", token);
    }
    function injectDotNetInvokeObj(obj) {
        ____dotNetInvokeObj = obj;
    }

    function ____turnstileIsLoaded() {
        if (typeof (____turnstileLoaded) == "undefined") return false;
        else return ____turnstileLoaded;
    }

    function ____turnstileIsRendered() {
        return ____turnstileRendered;
    }

    function ____turnstileReset() {
        return turnstile.reset();
    }
</script>

@code
{
    [Parameter]
    public string Response { get; set; }

    [Parameter]
    public EventCallback<string> ResponseChanged { get; set; }

    [Parameter]
    public string SiteKey { get; set; } = "1x00000000000000000000AA";

    [Parameter]
    public string WaitingMessage { get; set; } = "等待人机测试结果...";

    [Inject] IJSRuntime Js { get; set; }

    public bool ScriptImported { get; set; } = false;

    [JSInvokable]
    public void JsCall_OnTrunstileResponseToken(string response)
    {
        Response = response;
        ResponseChanged.InvokeAsync(response);
    }
    [JSInvokable]
    public async Task JsCall_OnTurnstileLoaded()
    {
        var isLoaded = await Js.InvokeAsync<bool>("____turnstileIsLoaded");

        if (!isLoaded)
        {
            StateHasChanged();
        }

        var isRendered = await Js.InvokeAsync<bool>("____turnstileIsRendered");
        if (!isRendered)
        {
            await Js.InvokeVoidAsync("____turnstileRender", SiteKey);
        }

    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        var jsInvokeObj = DotNetObjectReference.Create(this);
        await Js.InvokeVoidAsync("injectDotNetInvokeObj", jsInvokeObj);
        await base.OnAfterRenderAsync(firstRender);
    }

    public async Task Reset()
    {
        await Js.InvokeVoidAsync("____turnstileReset");
        Response = null;
        await ResponseChanged.InvokeAsync(Response);
    }
}


<!--
    调用此控件的时候不得使用Server预渲染模式，如果上级Blazor页面使用了预渲染模式，就要在渲染完成后再显示本控件。
    可以再上级Blazor页面中利用重写OnAfterRenderAsync方法进行处理，如：

    bool showTurnstile = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!showTurnstile)
        {
            showTurnstile = true;
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }
-->
