@page "/js-test"
@rendermode InteractiveServer
@inject JsComponentInterop Jsc
@inject IJSRuntime Js
<h3>JsTestRp</h3>

<div>
    <button @onclick="Toast">Toast</button>
    <button @onclick="MetroUIConfirm">MetroUIConfirm</button>
    <button @onclick="Alert">Alert</button>
    <button @onclick="Confirm">Confirm</button>
</div>

@code {
    private async Task Toast()
    {
        await Jsc.Toast("hello");
    }
    private async Task MetroUIConfirm()
    {
        await Jsc.MetroUIConfirm("title", "msg", true, async result =>
        {
            if (result)
            {
                await Jsc.Toast("confirm is true");
            }
            else
            {
                await Jsc.Toast("confirm is false");
            }
        });
    }
    private async Task Alert()
    {
        await Jsc.Alert("hello world");
    }
    private async Task Confirm()
    {
        var result = await Jsc.Confirm("hello world");
        if (result)
        {
            await Jsc.Toast("confirm is true");
        }
        else
        {
            await Jsc.Toast("confirm is false");
        }
    }
}