@page "/js-test"
@rendermode InteractiveServer
@inject JsComponentInterop Jsc
@inject IJSRuntime Js
<h3>JsTestRp</h3>

<div>
    <button @onclick="Toast">Toast</button>
    <button @onclick="() => MetroUIConfirm(DateTime.Now.ToString())">MetroUIConfirm</button>
</div>

@code {
    private async Task Toast()
    {
        await Jsc.Toast("hello");
    }
    private async Task MetroUIConfirm(string msg)
    {
        Console.WriteLine("传入：" + msg);

        await Jsc.MetroUIConfirm("title", "msg", true, async result =>
        {
            if (result)
            {
                Console.WriteLine("确认回调传入：" + msg);
                await Jsc.Toast("confirm is true(" + msg + ")");
            }
            else
            {
                await Jsc.Toast("confirm is false");
            }
        });
    }
}