@using Silmoon.AspNetCore.Blazor.Components
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Silmoon.AspNetCore.Test.styles.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="_content/Silmoon.AspNetCore/css/metroui-confirm.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="_content/Silmoon.AspNetCore/js/toast.js"></script>
    <script src="_content/Silmoon.AspNetCore/js/common.js"></script>
    <script src="_content/Silmoon.AspNetCore/js/metroui-confirm.js"></script>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <HeadOutlet />
</head>

<body>
    <BlazorReconnect />
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Silmoon.AspNetCore/js/session.js"></script>
</body>

</html>
